.search {
    background-color: #2b3566;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem auto;
}

.search p {
    color: #9da5d1;
}

.search_container{
    display: flex;
    gap: .5rem;
}

.search_container input,
.search_container button {
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #0e1129;
}

.search_container button {
    cursor: pointer;
    background-color: #0e1129;
    transition: .2s ease-in-out;
}